.line-clamp-4 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 4;
    line-clamp: 4;
}

.line-clamp-3 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 3;
    line-clamp: 3;
}

.line-clamp-5 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 5;
    line-clamp: 5;
}
.footer-social {
    background-color: #742a78 !important;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.footer-social:hover {
    background-color: #D5277B !important;
    /* transform: translateY(-3px); */
}

.message-from-ceo p {
    color: gray;
    text-align: justify;

}
